<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Upload Data</title>
  </head>
  <body>
    <h1>Upload Data</h1>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ user_form.as_p }} {{ personal_info_form.as_p }}

      <!-- Input teks -->
   
      <!-- Tanggal Lahir input -->

      <!-- Informasi Pekerjaan input -->
      <label for="informasi_pekerjaan">Informasi Pekerjaan Saat Ini:</label>
      <textarea
        id="informasi_pekerjaan"
        name="informasi_pekerjaan"
        rows="4"
        cols="50"
        required
      ></textarea>

      <!-- Kolom gambar -->
      <label for="id_card_image">ID Card:</label>
      <input
        type="file"
        id="id_card_image"
        name="id_card_image"
        accept="image/*"
      />

      <!-- Kolom file dokumen -->
      <label for="informasi_medis_file"
        >Upload File Informasi Medis (pdf, xls, doc):</label
      >
      <input
        type="file"
        id="informasi_medis_file"
        name="informasi_medis_file"
        accept=".pdf,.xls,.doc"
      />

      <!-- Tombol Submit -->
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
